*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    margin: auto;
}
.form{
    max-width: 600px;
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.3);
    margin: auto;
    border-radius: 30px;
}
.form h2{
    text-align: center;
    margin-top: 40px;
    padding-top: 50px;
}
form{
    margin: auto;
    max-width: 500px;
    margin-top: 30px;
}
.student--form{
    display: flex;
    flex-direction: column;
    gap: 20;
}
.student--form__son{
    display: flex;
    flex-direction: column; 
    flex: 1;
    padding-bottom: 20px;
}
.student--form__son label{
    font-weight: bold;
}
.student--form__son input{
    height: 30px;
    border-radius: 3px;
    border: none;
    outline: none;
    padding: 5px 7px;
}
.student--form__son textarea{
    border-radius: 3px;
    border: none;
    outline: none;
    padding: 5px 7px;
}
.send{
    display: flex;
    gap: 5px;
    flex-direction: row;
    justify-content: flex-end;
}
.send input{
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    background-color: blue;
    color: white;
    border-radius: 5px;
    width: 100px;
}
.control:focus{
    outline: none;
}

/**Error**/
.form__item--error .control {
    border-color: red;
}
.form__error-message {
    font-size: 12px;
    color: red;
}